In [17]:
import pandas as pd

In [18]:
#load joined data
df = pd.read_csv('data/joined_data.csv')

In [19]:
df.dtypes

brand                             object
name                              object
phone_storage                      int64
scrapeday                         object
price_digitec_CHF                float64
rating_digitec                    object
delivery_time_days_digitec        object
cleaned_phone_name                object
model                             object
storage                            int64
price_mediamarkt_CHF             float64
rating_mediamarkt                float64
delivery_time_days_mediamarkt    float64
dtype: object

In [20]:
df.head()

,brand,name,phone_storage,scrapeday,price_digitec_CHF,rating_digitec,delivery_time_days_digitec,cleaned_phone_name,model,storage,price_mediamarkt_CHF,rating_mediamarkt,delivery_time_days_mediamarkt
0,ASUS,ROG Phone 7,256,af,921.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1015.500,4.5000,1.0
1,ASUS,ROG Phone 7,256,bf,909.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1012.655,4.5000,5.0
2,ASUS,ROG Phone 7,256,cm,999.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1048.460,4.5000,4.0
3,ASUS,ROG Phone 7,512,af,1079.0,4.5,1,ROG Phone 7,ROG Phone 7,512,1133.650,4.8269,2.0
4,ASUS,ROG Phone 7,512,bf,999.5,4.5,1,ROG Phone 7,ROG Phone 7,512,1156.910,4.8200,4.0

# 1. Frage: Wie stehen die Preise der einzelnen Marken zueinander, bei welchen Marken gibt es die gr√∂ssten und kleinsten Preisunterschiede?

In [22]:
#aggregate the data
df_agg = df.groupby(['brand'], as_index=False).agg({'price_digitec_CHF': ['mean', 'min', 'max'],
                                                   'price_mediamarkt_CHF': ['mean', 'min', 'max']})

df_agg

        brand price_digitec_CHF                          price_mediamarkt_CHF  \
                           mean         min          max                 mean
0       APPLE        852.019476  168.000000  1539.862500           908.013465
1        ASUS        868.887843  555.886667  1349.000000          1142.497647
2   BLACKVIEW        283.066667   74.000000   470.000000           320.578556
3         CAT        328.500000  222.000000   444.000000           349.875000
4        DORO        318.000000  318.000000   318.000000           285.270000
5     EMPORIA        173.000000  173.000000   173.000000           191.120000
6   FAIRPHONE        628.888889  628.666667   629.000000           669.850000
7     GIGASET        221.852000  112.000000   261.400000           225.448000
8      GOOGLE        619.281275  349.000000  1076.193333           668.972343
9      HAMMER        231.900000  231.900000   231.900000           195.226667
10      HONOR        407.521944  185.950000   898.500000           440.255556
11     HUAWEI        687.022304  207.000000  2197.000000           702.678676
12         LG        130.000000  130.000000   130.000000           303.690000
13   MOTOROLA        284.281631   85.475000   832.000000           306.730364
14      NOKIA        215.482432  110.000000   512.500000           224.103784
15    NOTHING        441.058824  324.000000   602.500000           478.269412
16     REALME        220.425705   76.700000   416.000000           245.293077
17    SAMSUNG        631.646926  119.666667  1668.383333           717.981986
18       SONY        782.793556  392.500000  1025.666667           927.037333
19    ULEFONE        163.296296  138.000000   192.000000           178.145000
20     XIAOMI        266.962271   78.750000  1079.000000           294.397992
21        ZTE        151.217500   54.400000   399.000000           135.982833


           min      max
0   464.238333  1583.57
1   564.390000  1453.37
2   161.010000   477.73
3   217.370000   506.65
4   278.920000   288.62
5   191.120000   191.12
6   660.900000   674.74
7   216.520000   231.66
8   132.320000  1118.78
9   186.900000   211.65
10  229.230000   945.98
11  193.060000  2006.86
12  303.690000   303.69
13   84.120000   849.50
14   81.900000   536.33
15  320.520000   602.26
16   78.210000   541.65
17  130.060000  1833.10
18  802.730000  1303.84
19  132.080000   226.65
20   72.480000  1446.98
21   53.060000   244.88

# 2. Frage: Wie stehen die Bewertungen der einzelnen Marken zueinander, welche Marken erreichen in welchem Markt bessere Bewertungen?