In [43]:
import pandas as pd

In [44]:
#load joined data
df = pd.read_csv('data/joined_data.csv')

In [45]:
df.dtypes

brand                             object
name                              object
phone_storage                      int64
scrapeday                         object
price_digitec_CHF                float64
rating_digitec                    object
delivery_time_days_digitec        object
cleaned_phone_name                object
model                             object
storage                            int64
price_mediamarkt_CHF             float64
rating_mediamarkt                float64
delivery_time_days_mediamarkt    float64
dtype: object

In [46]:
df.head()

,brand,name,phone_storage,scrapeday,price_digitec_CHF,rating_digitec,delivery_time_days_digitec,cleaned_phone_name,model,storage,price_mediamarkt_CHF,rating_mediamarkt,delivery_time_days_mediamarkt
0,ASUS,ROG Phone 7,256,af,921.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1015.500,4.5000,1.0
1,ASUS,ROG Phone 7,256,bf,909.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1012.655,4.5000,5.0
2,ASUS,ROG Phone 7,256,cm,999.0,3.4,1,ROG Phone 7,ROG Phone 7,256,1048.460,4.5000,4.0
3,ASUS,ROG Phone 7,512,af,1079.0,4.5,1,ROG Phone 7,ROG Phone 7,512,1133.650,4.8269,2.0
4,ASUS,ROG Phone 7,512,bf,999.5,4.5,1,ROG Phone 7,ROG Phone 7,512,1156.910,4.8200,4.0

# 1. Frage: Wie stehen die Preise der einzelnen Marken zueinander, bei welchen Marken gibt es die gr√∂ssten und kleinsten Preisunterschiede?

In [47]:
#aggregate the data
df_agg = df.groupby(['brand'], as_index=False).agg({'price_digitec_CHF': ['mean', 'min', 'max'],
                                                   'price_mediamarkt_CHF': ['mean', 'min', 'max']})

df_agg

        brand price_digitec_CHF                          price_mediamarkt_CHF  \
                           mean         min          max                 mean
0       APPLE        852.019476  168.000000  1539.862500           908.013465
1        ASUS        868.887843  555.886667  1349.000000          1142.497647
2   BLACKVIEW        283.066667   74.000000   470.000000           320.578556
3         CAT        328.500000  222.000000   444.000000           349.875000
4        DORO        318.000000  318.000000   318.000000           285.270000
5     EMPORIA        173.000000  173.000000   173.000000           191.120000
6   FAIRPHONE        628.888889  628.666667   629.000000           669.850000
7     GIGASET        221.852000  112.000000   261.400000           225.448000
8      GOOGLE        619.281275  349.000000  1076.193333           668.972343
9      HAMMER        231.900000  231.900000   231.900000           195.226667
10      HONOR        407.521944  185.950000   898.500000           440.255556
11     HUAWEI        687.022304  207.000000  2197.000000           702.678676
12         LG        130.000000  130.000000   130.000000           303.690000
13   MOTOROLA        284.281631   85.475000   832.000000           306.730364
14      NOKIA        215.482432  110.000000   512.500000           224.103784
15    NOTHING        441.058824  324.000000   602.500000           478.269412
16     REALME        220.425705   76.700000   416.000000           245.293077
17    SAMSUNG        631.646926  119.666667  1668.383333           717.981986
18       SONY        782.793556  392.500000  1025.666667           927.037333
19    ULEFONE        163.296296  138.000000   192.000000           178.145000
20     XIAOMI        266.962271   78.750000  1079.000000           294.397992
21        ZTE        151.217500   54.400000   399.000000           135.982833


           min      max
0   464.238333  1583.57
1   564.390000  1453.37
2   161.010000   477.73
3   217.370000   506.65
4   278.920000   288.62
5   191.120000   191.12
6   660.900000   674.74
7   216.520000   231.66
8   132.320000  1118.78
9   186.900000   211.65
10  229.230000   945.98
11  193.060000  2006.86
12  303.690000   303.69
13   84.120000   849.50
14   81.900000   536.33
15  320.520000   602.26
16   78.210000   541.65
17  130.060000  1833.10
18  802.730000  1303.84
19  132.080000   226.65
20   72.480000  1446.98
21   53.060000   244.88

# 2. Frage: Wie stehen die Bewertungen der einzelnen Marken zueinander, welche Marken erreichen in welchem Markt bessere Bewertungen?

Note: need to convert/remove 0 star ratings from mediamarkt ratings

In [48]:
#convert rating to numeric
df['rating_digitec'] = pd.to_numeric(df['rating_digitec'], errors='coerce')

In [49]:
df.groupby(['brand'], as_index=False).agg({'rating_digitec': ['mean', 'min', 'max'],
                                           'rating_mediamarkt': ['mean', 'min', 'max']})

        brand rating_digitec           rating_mediamarkt
                        mean  min  max              mean       min     max
0       APPLE       4.652727  4.2  4.8          4.205052  0.000000  4.9043
1        ASUS       4.288235  3.4  4.6          4.566400  4.400000  4.8269
2   BLACKVIEW       3.991667  3.7  4.3          0.000000  0.000000  0.0000
3         CAT       4.175000  4.1  4.3          1.625000  0.000000  4.0000
4        DORO            NaN  NaN  NaN          0.000000  0.000000  0.0000
5     EMPORIA            NaN  NaN  NaN          0.000000  0.000000  0.0000
6   FAIRPHONE       4.566667  4.5  4.6          4.444444  3.333333  5.0000
7     GIGASET       4.640000  4.1  5.0          4.536900  4.458700  4.6542
8      GOOGLE       4.335294  4.1  4.8          3.832619  0.000000  5.0000
9      HAMMER            NaN  NaN  NaN          0.000000  0.000000  0.0000
10      HONOR       4.088889  3.2  5.0          3.876103  0.000000  5.0000
11     HUAWEI       4.255882  3.0  5.0          3.470091  0.000000  5.0000
12         LG       4.200000  4.2  4.2          3.873950  3.571400  4.1765
13   MOTOROLA       4.111538  2.3  5.0          1.159970  0.000000  4.5000
14      NOKIA       3.947059  1.0  5.0          1.297297  0.000000  5.0000
15    NOTHING       4.447059  4.0  4.6          4.901962  4.666650  5.0000
16     REALME       4.238462  3.7  5.0          0.769231  0.000000  2.5000
17    SAMSUNG       4.277049  2.9  4.7          3.998384  0.000000  4.6854
18       SONY       4.253333  3.4  4.6          4.571300  4.475800  4.7297
19    ULEFONE       4.422222  4.2  4.6          0.833333  0.000000  2.5000
20     XIAOMI       4.120979  1.0  5.0          2.296970  0.000000  5.0000
21        ZTE       3.900000  3.9  3.9          2.258575  0.000000  4.4286

# 3. Frage: Wie entwickeln sich die Preise w√§hrend und nach Black Friday?

In [67]:
df_scrapeday = df.groupby(['scrapeday', 'brand'], as_index=False)["price_digitec_CHF"].agg('min')

df_scrapeday

   scrapeday      brand  price_digitec_CHF
0         af      APPLE         432.000000
1         af       ASUS         627.153333
2         af  BLACKVIEW         199.000000
3         af        CAT         224.000000
4         af       DORO         318.000000
..       ...        ...                ...
57        cm    SAMSUNG         119.666667
58        cm       SONY         663.500000
59        cm    ULEFONE         147.000000
60        cm     XIAOMI          78.750000
61        cm        ZTE          54.400000

[62 rows x 3 columns]

In [68]:
# Pivot the table
pivot_df = df_scrapeday[["scrapeday", "brand", "price_digitec_CHF"]].pivot(index='brand', columns='scrapeday', values='price_digitec_CHF')

In [69]:
# Calculate the price difference between the timepoints
pivot_df['BF_to_CM_diff'] = pivot_df['cm'] - pivot_df['bf']
pivot_df['CM_to_1W_diff'] = pivot_df['af'] - pivot_df['cm']

In [70]:
pivot_df

scrapeday          af          bf          cm  BF_to_CM_diff  CM_to_1W_diff
brand
APPLE      432.000000  168.000000  428.000000     260.000000       4.000000
ASUS       627.153333  555.886667  559.553333       3.666667      67.600000
BLACKVIEW  199.000000   80.000000   74.000000      -6.000000     125.000000
CAT        224.000000  444.000000  222.000000    -222.000000       2.000000
DORO       318.000000  318.000000  318.000000       0.000000       0.000000
EMPORIA           NaN  173.000000         NaN            NaN            NaN
FAIRPHONE  629.000000  628.666667  629.000000       0.333333       0.000000
GIGASET    253.000000  112.000000  221.460000     109.460000      31.540000
GOOGLE     355.666667  349.000000  353.500000       4.500000       2.166667
HAMMER     231.900000  231.900000  231.900000       0.000000       0.000000
HONOR      221.666667  241.000000  185.950000     -55.050000      35.716667
HUAWEI     207.000000  219.000000  299.000000      80.000000     -92.000000
LG         130.000000         NaN         NaN            NaN            NaN
MOTOROLA    90.975000   85.475000   87.775000       2.300000       3.200000
NOKIA      120.500000  123.000000  110.000000     -13.000000      10.500000
NOTHING    348.000000  324.000000  324.000000       0.000000      24.000000
REALME      76.700000   78.400000   84.400000       6.000000      -7.700000
SAMSUNG    120.333333  121.666667  119.666667      -2.000000       0.666667
SONY       392.500000  665.000000  663.500000      -1.500000    -271.000000
ULEFONE    138.000000  146.000000  147.000000       1.000000      -9.000000
XIAOMI      80.200000   79.050000   78.750000      -0.300000       1.450000
ZTE         84.600000   60.900000   54.400000      -6.500000      30.200000

# 4. Frage: Wie unterscheiden sich die Lieferzeiten der beliebtesten Marken?